body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: black;
    background: rgb(248, 248, 248);
}
.login-cont{
    text-align: center;
}

.titulo{
    font-size: 22px;
    color: rgb(90, 128, 185);
    margin-bottom: 25px;
    font-weight: bold;
}

.form-cont{
    height:400px;
    width: 250px;
    margin-top: 3%;
    padding: 15px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color:rgba(164, 170, 185, 0.541);
    border-radius: 15px;
}

.label_login{
    color: black;
}

.div_campos{
    margin: 10px 0 10px 0;
}

.btn_login {
    margin-top: 20px;
    border-radius: 6px;
    background: rgb(113, 113, 161);
    border: none;
    color: white;
    height: 30px;
}

.btn_login:hover {
    background: rgb(50, 50, 143);
}

button[disabled], html input[disabled]{
    cursor: default;
    background-color: gray;
}
button[disabled], html input[disabled]:hover {
    cursor: default;
    background-color: gray;
}

.error_msg{
    margin-top: 10px;
    color:red;
    font-weight: bold;
}

.registro-cont{
    height:600px;
    width: 400px;
    margin-top: 3%;
    padding: 15px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color:rgba(164, 170, 185, 0.541);
    border-radius: 15px;
}

.campo-registro{
    margin: 5px 0 5px 0;
}

.cont-main{
    margin-top: 2%;
}

.lista-descr-h{
    width: 80%;
}

.lista-comp-h,
.lista-comp-r{
    text-align: center;
}

.item-done{
    background-color: #dff0d8;
}

.icono-lista{
    font-size: 20px;
}

.checkbox-lista{
    cursor: pointer;
}