{% extends 'base.html' %}
{% block titulo %}
<title>Inicio de Sesión</title>
{% endblock %}
{% block contenido %}

<div class="login-cont">
    <div class="form-cont">
        <p class="titulo">Inicio de Sesión</p>
        <form action="login" method="post" id="login-form">
            {% csrf_token %}
            <div class="div_campos">
                <label class="label_login">Usuario:</label> <input type="text" name="username" autofocus="" required value={{username}}>
            </div>
            <div class="div_campos">
                <label class="label_login">Contraseña:</label> <input type="password" name="password" required >
                
            </div>
            <div >
                <a href="registrar" title="Registrar un usuario nuevo">Registrar</a>&nbsp;|&nbsp;<input class="btn_login" type="submit" value="Log In">
            </div>
        </form>
        <div>
            {% for message in messages %}
            <p class="error_msg">{{message}}</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}