{% extends 'base.html' %}
{% block titulo %}
    <title>Principal</title>
{% endblock %}
{% block contenido %}

    <div class='container cont-main'>
        {% if user.is_authenticated %}
            <p class="titulo" style="text-align:center;">To Do List</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="lista-descr-h">Descripción</th>
                        <th class="lista-comp-h">Completado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{item.descripcion}}</td>
                            <td class="lista-comp-r">{{item.completado}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2 style="text-align:center;">Debes iniciar sesión</h2>
        {% endif %}
    </div>
    

{% endblock %}