{% extends 'base.html' %}
{% block titulo %}
    <title>Principal</title>
{% endblock %}
{% block contenido %}

    <div class='container cont-main'>
        {% if user.is_authenticated %}
            <p class="titulo" style="text-align:center;">To Do List</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="lista-descr-h">Descripción</th>
                        <th class="lista-comp-h">Completado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr {% if item.completado %} class="item-done" {% endif %}>
                            <td>{{item.descripcion}}</td>
                            <td class="lista-comp-r"><input type="checkbox" class="checkbox-lista" {% if item.completado %} checked {% endif %}></td>
                            <td><a href="{% url 'delete_item' item.pk %}" title="Borrar registro" style="color:red;"><i class="fa fa-trash icono-lista"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2 style="text-align:center;">Debes iniciar sesión</h2>
        {% endif %}
    </div>
    

{% endblock %}