{% extends 'base.html' %}
{% block titulo %}
<title>Registrar Usuario</title>
{% endblock %}

{% block contenido %}
    <form action="registrar" method="post">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="Nombre(s)"><br>
        <input type="text" name="last_name" placeholder="Apellidos"><br>
        <input type="text" name="username" placeholder="Nombre de Usuario"><br>
        <input type="email" name="email" placeholder="Correo electrónico"><br>
        <input type="password" name="password1" placeholder="Contraseña"><br>
        <input type="password" name="password2" placeholder="Confirmar contraseña"><br>

        <input type="submit">
    </form>

    <div>
        {% for message in messages %}
        <h3> {{message}} </h3>
        {% endfor %}
    </div>
{% endblock %}